:root {
  /** sunny side **/
  --blue-background: #c2e9f6;
  --blue-border: #108dad;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #808bbc;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
}

@keyframes reverse {
  0% {
    left: 47px;
    width: 40px;
  }
  60% {
    left: 3px;
    width: 80px;
  }
  100% {
    left: 3px;
  }
}

@keyframes switch {
  0% {
    left: 3px;
  }
  60% {
    left: 3px;
    width: 80px;
  }
  100% {
    left: 47px;
    width: 40px;
  }
}

.toggle_container {
  margin-right: 1rem;
  -webkit-font-smoothing: antialiased;
  margin-top: 5px;
}

.toggle_button {
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #ffffff;
  cursor: pointer !important;
  all: unset;
  width: 42px;
  height: 25px;
  position: relative;
  box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 9999px;
}

.c-fBOjjt[data-state="checked"] {
  background-color: rgb(255, 223, 38);
}

.c-fBOjjt-jqGijD-theme-dark[data-state="checked"] {
  background-color: #ffffff;
}

.c-jrMzNf {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: rgb(0 0 0 / 14%) 0px 2px 2px;
  transition: transform 100ms ease 0s;
  will-change: transform;
}

.svgIcon {
  color: rgba(192, 38, 211, 1);
  width: 0.75rem;
  height: 0.75rem;
  margin-bottom: 7px;
}

.c-jrMzNf-checked {
  transform: translateX(19px);
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: rgb(0 0 0 / 14%) 0px 2px 2px;
  transition: transform 100ms ease 0s;
  will-change: transform;
}

button:focus:not(:focus-visible) {
  outline: 0;
}
