input:focus-visible {
  outline-offset: 0px;
}

.header_bar {
  background-color: var(--navbar-bg-color);
  width: 100%;
  z-index: 50;
  position: fixed;
  color: var(--navbar-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  height: 4rem;
}

.logo {
  margin-left: 10px;
}

.grow {
  flex-grow: 1;
}

.searchBox {
  background-color: var(--navbar-searchBox-bg-color);
  border-radius: 0.75rem;
  height: 3rem;
  display: flex;
  border: 1px solid rgba(41, 37, 36, 1);
  .searchBox_container {
    padding-right: 1rem;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: antialiased;
  }
  .searchBox_input {
    background-color: var(--navbar-searchBox-bg-color);
    animation-name: onautofillcancel;
    border-style: none;
    border-radius: 0.5rem;
    width: 100%;
    appearance: none;
    border-color: #6b7280;
    border-width: 1px;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    outline: none;
  }

  .searchBox_input:focus {
    color: var(--navbar-text);
  }
  .searchBox_button {
    cursor: pointer;
    border-style: none;
    color: rgba(156, 163, 175, 1);
    padding-left: 1rem;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    padding: 0px;
  }
}

.responsive {
  flex-grow: 1;
}

.menu_container {
  display: flex;
  position: unset !important;
  overflow: unset !important;
  white-space: nowrap;
  gap: 1.5rem;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.connect_btn {
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  color: var(--navbar-text);
  background-color: var(--connect-button-bg-color);
  border-color: var(--connect-button-border-color);
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 0px 30px;
  gap: 0.5rem !important;
  flex-direction: row;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  white-space: nowrap;
}

@media only screen and (max-width: 1536px) {
  .searchBox {
    width: 600px;
  }
}

@media only screen and (max-width: 1280px) {
  .searchBox {
    width: 400px;
  }
  .responsive {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    margin-left: 0px;
  }

  .searchBox {
    display: none;
  }

  .connect_btn {
    display: none;
  }
}
