.theme-light {
  --aboutpage-title-text: #000000;
  --text-color: #000000;
  --aboutpage--description-text: #151515;
  --background-color: #ffffff;
  --utilitypage-title-text: #111111;
  --utilitypage-description-text: #0a0a0a;
  --navbar-bg-color: #fff;
  --navbar-searchBox-bg-color: rgba(255, 255, 255, 1);
  --connect-button-bg-color: rgba(255, 227, 43, 1);
  --connect-button-border-color: rgba(255, 227, 43, 1);
  --collection-bg-color: #ffffff;
  --swiper-bg-color: #ffffff;
  --footer-bg-color: #040836;
  --copy-btn-bg-color: #999999;
}

/* --light-text is fine on on the first 3, --dark-text is fine on all of them, --dark-text and dark-background are fine as text on --accent */
.theme-dark {
  --aboutpage-title-text: #ffffff;
  --text-color: #ffffff;
  --aboutpage--description-text: #d5d5d5;
  --background-color: #000000;
  --utilitypage-title-text: #ffffff;
  --utilitypage-description-text: #ffffff;
  --navbar-bg-color: rgb(28, 25, 23);
  --navbar-searchBox-bg-color: rgba(41, 37, 36, 1);
  --connect-button-bg-color: rgba(112, 26, 117, 1);
  --connect-button-border-color: rgba(134, 25, 143, 1);
  --collection-bg-color: #1a1a25;
  --swiper-bg-color: #242435;
  --footer-bg-color: #242435;
  --copy-btn-bg-color: #ffffff4d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
